<ul class="side-nav">
    <li>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
    </li>
    <li>
        <a [routerLink]=" ['./categories'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Categories</a>
    </li>
    <li>
        <a [routerLink]=" ['./highlights'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Highlights</a>
    </li>
    <li>
        <a [routerLink]=" ['./top'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Top</a>
    </li>
    <li>
        <a [routerLink]=" ['./new'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">New</a>
    </li>
    <li>
        <a [routerLink]=" ['./recommended'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Recommended</a>
    </li>
    <li>
        <a [routerLink]=" ['./help'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Help</a>
    </li>
</ul>