/*styles for home content only*/

.hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    z-index: 99999;
}

.hamburger span {
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
    right: 0px;
    height: 4px;
    background: #ddd;
}

.hamburger span::before,
.hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    content: "";
}

.hamburger span::before {
    top: -10px;
}

.hamburger span::after {
    bottom: -10px;
}


/* .top-menu */

.top-menu {
    display: flex;
    background-color: #212121;
    border-bottom: 1px solid #fff;
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 12px;
                font-size: 20px;
                line-height: 25px;
                color: #fff;
            }
        }
    }
    form {
        padding: 6px 0;
    }
}


/* .navbar-toggleable-md */

.navbar-toggleable-md {
    background-color: #464646;
    min-height: 55px;
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    text-transform: uppercase;
                    color: #c7c7c7;
                    font-weight: 600;
                }
                .nav-link.active {
                    color: #fff;
                    position: relative;
                    &:before {
                        content: '';
                        height: 4px;
                        background-color: #bfc642;
                        position: absolute;
                        left: 0;
                        bottom: -8px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}