.card-img-top {
    object-fit: contain;
}

.details-label {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.br.br-default {
    display: inline-block;
}

.card {
    width: 100%;
}